{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          {% block nav %}
            {{ parent() }}
          {% endblock nav %}
      </div>
      <div class="col-md-8">
        <div class="panel">
             <div class="panel-body">
                <pre>
                    {{listOfUsersOnline2() | raw}}
                </pre>
            </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

{% endblock %}