{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block head %}
	{{ parent() }}

	<style type="text/css">

	    .footer {
	      position: absolute;
	      bottom: 0;
	      width: 100%;
	      /* Set the fixed height of the footer here */
	      height: 60px;
	      background-color: #f5f5f5;
	    }

	    body > .container {
	      padding: 60px 15px 0;
	    }
	    .container .text-muted {
	      margin: 20px 0;
	    }

	    .footer > .container {
	      padding-right: 15px;
	      padding-left: 15px;
	    }
	</style>

{% endblock head %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          {% block nav %}
            {{ parent() }}
          {% endblock nav %}
      </div>
      <div class="col-md-8">
        <div class="panel">
             <div class="panel-body">
             	<h2>Hello, welcome to The Forest Hill Tennis League website!</h2>
            </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>


  </div>

    <footer class="footer">
        <div class="container center-block center-position">
            <p class="text-muted">Follow <a href="http://twitter.com/ForestHillTL">@ForestHillTL</a> on Twitter.
<span>For more information about the club, please visit <a href="http://www.foresthilltennisclub.ca">www.foresthilltennisclub.ca</a></span>             	
            </p>

        </div>
      </footer>

{% endblock %}