{% extends 'templates/default.twig' %}

{% block content %}
   <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <blockquote>
              <p>{{ quote }}</p>
              <footer>{{ author }}</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

{% endblock %}