{% if c.accancelnote %}

    <h4>Sorry, opponent cancelled!</h4>

{% else %}

<form id="challengeConfirmForm" method="post" action="{{SITEROOT}}/challenge/confirm/{{ challengeid }}">

<label for="challengeConfirmNote">Confirm note:</label> <textarea class="form-control" maxlegth="100" rows="5" cols="20" name="challengeConfirmNote" id="challengeConfirmNote" placeholder="Choose or confirm a start time... (optional)"></textarea> 
<br />
<div id="loading2" style="display:none">
	<img src="{{SITEROOT}}/res/img/ajax-loader.gif">
</div>
<input id="challengeConfirmFormSubmit" type="submit" class="btn btn-primary" value="Confirm"> 
<div id="challengeConfirmResult" style="display:none"></div>
{% include 'auth/csrf.inc' %} 
</form>

{% endif %}