<form method="post" action="challenge/cancelaccepted/{{ challengeid }}">

<label for="challengeCancelAcceptedNote">Cancel reason:</label> <textarea class="form-control" maxlegth="200" rows="10" cols="20" name="challengeCancelAcceptedNote" id="challengeCancelAcceptedNote" placeholder="Why? (required)"></textarea> 
<br />
<input type="submit" class="btn btn-primary" value="Submit"> 

{% include 'auth/csrf.inc' %} 
</form>