<form id="acceptChallengeForm" method="post" action="{{SITEROOT}}/challenge/accept/{{ challengeid }}">

<label for="challengeAcceptNote">Accept note:</label> <textarea class="form-control" maxlegth="100" rows="5" cols="10" name="challengeAcceptNote" id="challengeAcceptNote" placeholder="Propose a start time... (required)"></textarea> 
<br />

<div id="loading2" style="display:none">
	<img src="{{SITEROOT}}/res/img/ajax-loader.gif">
</div>
<input type="submit" id="acceptChallengeSubmit" class="btn btn-primary" value="Accept"> 
<div id="acceptResult" style="display:none"></div>

{% include 'auth/csrf.inc' %} 
</form>