<table class="table wrapme table-condensed borderless" cellspacing="0" width="100%">
	<tbody>
		<tr><td><label>Date:</label></td><td>{{ challengedate }}</td></tr>
		<tr><td><label>Challenger:</label></td><td>{{ challenger }}</td></tr>
		<tr><td><label>Division:</label></td><td> {{ challengeddivision }}</td></tr>
		<tr><td><label>Note:</label></td><td>
		{{ challengenote }}
		</td></tr>
	</tbody>
</table>